.main {
  width: 124px;
  position: relative;
  cursor: pointer;
  font-size: var(--content-font-size);
}

.input {
  position: relative;
  height: 46px;
  padding: 15px 13px;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  justify-content: space-between;
  background-color: var(--light-color);
  border: solid 2px var(--contrast-color);
  border-radius: var(--input-border-radius);
  line-height: 10px;
}

.arrow {
  height: 0;
  width: 0;
  position: absolute;
  right: 14px;
  border-color: var(--contrast-color) transparent transparent;
  border-style: solid;
  top: 50%;
  margin-top: -4.5px;
  border-width: 9px 9px 0;
  content: ' ';
  display: block;
}

.options {
  list-style: none;
  background-color: var(--light-color);
  border: 2px solid var(--contrast-color);
  box-sizing: border-box;
  margin-top: -5px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  border-bottom-left-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}

.option {
  padding: 9px 13px;
}

.option:hover {
  background-color: var(--contrast-color-1);
}
