.container {
  position: relative;
  top: calc(var(--header-height) / 2);
  min-height: 430px;
  box-sizing: border-box;
  border-bottom-left-radius: var(--app-border-radius);
  border-bottom-right-radius: var(--app-border-radius);
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 480px;
  height: 45%;
}

.header {
  position: absolute;
  top: calc(var(--header-height) * -1);
  left: 0;
  width: 100%;
  height: var(--header-height);
  line-height: var(--header-height);
  color: var(--light-color);
  font-size: var(--header-font-size);
  text-align: center;
  border-top-left-radius: var(--app-border-radius);
  border-top-right-radius: var(--app-border-radius);
  background-color: var(--contrast-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  position: relative;
  top: 6px;
}

.buttonWrapper {
  margin-top: 37px;
}

.formError {
  position: absolute;
  bottom: 35px;
  max-width: 250px;
  color: var(--error-color);
}

@media screen and (max-width: 550px) {
  .container {
    width: 90%;
    min-width: 270px;
  }
}
