.container {
  padding: 110px 115px 67px;
  max-height: 487px;
  box-sizing: border-box;
  border-radius: var(--app-border-radius);
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: var(--light-color);
  font-size: var(--header-font-size);
  text-align: center;
  border-top-left-radius: var(--app-border-radius);
  border-top-right-radius: var(--app-border-radius);
  background-color: var(--contrast-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  position: relative;
  top: 6px;
}

.buttonWrapper {
  margin-top: 37px;
}

.formError {
  position: absolute;
  bottom: 35px;
  max-width: 250px;
  color: var(--error-color);
}
