.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.labelValue {
  position: absolute;
  top: -30px;
  left: 0;
  font-size: var(--description-font-size);
  font-weight: 500;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  outline: none;
  box-sizing: border-box;
  height: 46px;
  border: solid 2px var(--contrast-color);
  padding: 15px 13px;
  border-radius: var(--input-border-radius);
  font-size: var(--content-font-size);
}

.input::placeholder {
  color: var(--input-color);
}

.inputMax {
  width: 100%;
  min-width: 100px;
}

.inputM {
  width: 100px;
}

.inputL {
  width: 124px;
}

.inputXL {
  width: 250px;
}

.inputError {
  border-color: var(--error-color);
}

.error {
  position: absolute;
  bottom: -25px;
  left: 0;
  max-width: 250px;
  font-size: var(--description-font-size);
  color: var(--error-color);
}
