.main {
  background-color: var(--light-color);
  border-bottom-right-radius: var(--app-border-radius);
  border-bottom-left-radius: var(--app-border-radius);
  padding: 40px;
  min-width: 760px;
  box-sizing: border-box;
  position: relative;
  top: calc(var(--header-height) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main.wide {
  min-width: 1100px;
}

.header {
  position: absolute;
  top: calc(var(--header-height) * -1);
  left: 0;
  height: var(--header-height);
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  background-color: var(--contrast-color);
  color: var(--light-color);
  border-top-right-radius: var(--app-border-radius);
  display: flex;
  padding: 0 var(--app-padding);
  align-items: center;
  justify-content: center;
}

.headerMargined {
  padding-left: 80px;
}

.h {
  flex: 1;
  text-align: center;
  font-size: var(--header-font-size);
}

.hMargined {
  text-align: left;
}

.hAlone {
  text-align: left;
}

.navigation {
  position: absolute;
  top: -108px;
  left: 0;
  background-color: var(--bg-color);
  border-top: solid 2px var(--contrast-color);
  border-left: solid 2px var(--contrast-color);
  border-right: solid 2px var(--contrast-color);
  border-top-left-radius: var(--app-border-radius);
  border-top-right-radius: var(--app-border-radius);
  display: flex;
  box-sizing: border-box;
  height: 50px;
  width: var(--navigation-width);
}

.navButton {
  outline: none;
  box-shadow: none;
  border: none;
  flex: 1;
  font-size: var(--tab-font-size);
  color: var(--contrast-color);
  white-space: nowrap;
  cursor: pointer;
}

.navButton:first-child {
  border-top-left-radius: var(--app-border-radius);
}

.navButton:last-child {
  border-top-right-radius: var(--app-border-radius);
}

.navButton:nth-child(-n+2) {
  border-right: solid 2px var(--contrast-color);
}

.navButton.active {
  background-color: var(--contrast-color);
  color: var(--light-color);
}

.navButton.active:first-child {
  border-top-left-radius: 15px;
}

.navButton.active:last-child {
  border-top-right-radius: 15px;
}

.content {
  width: 100%;
  height: 400px;
  max-height: 400px;
  box-sizing: border-box;
}

.content.overlay {
  overflow-y: overlay;
}

@media screen and (max-width: 800px) {
  .main {
    width: 90%;
    min-width: 270px;
  }
}

@media screen and (max-width: 580px) {
  .main {
    padding: 40px 5px;
  }

  .navigation {
    width: 90%;
    min-width: 270px;
  }

  .header {
    padding: 0 5px;
  }
}